server:
  port: 8081

spring:
  application:
    name: admin-service
  datasource:
    url: jdbc:mysql://mysql:3306/mbhoni_es?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Password@12345
    driver-class-name: com.mysql.cj.jdbc.Driver

eureka:
  instance:
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    initial-instance-info-replication-interval-seconds: 5

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always