server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/mbhonichau/mbhoni-es
          search-paths: config
          clone-on-start: true
          force-pull: true
          username: mbhonichau
          password: ${GITHUB_PAT}   # Injected via Docker/Railway
          skip-ssl-validation: false
  profiles:
    active: git

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,refresh,info
  endpoint:
    health:
      show-details: always
      validate-group-membership: false
