<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(${title})}"></head>
<body>
<div class="app-wrapper">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="main-wrapper">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <main class="content-area">
            <th:block th:replace="${content}"></th:block>
        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>
