spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: file:/app/config
  profiles:
    active: native

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoint:
    health:
      probes:
        enabled: true
      group:
        liveness:
          include: liveness
        readiness:
          include: readiness
      validate-group-membership: false
  endpoints:
    web:
      exposure:
        include: health,info,liveness,readiness
