name: Build & Push Docker Images

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Build config-server
        run: cd config-server && mvn clean package -DskipTests

      - name: Build eureka-server
        run: cd eureka-server && mvn clean package -DskipTests

      - name: Build admin-service
        run: cd admin-service && mvn clean package -DskipTests

      - name: Build content-management-service
        run: cd content-management-service && mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push config-server
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-config-server:latest ./config-server
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-config-server:latest

      - name: Build & Push eureka-server
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-eureka-server:latest ./eureka-server
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-eureka-server:latest

      - name: Build & Push admin-service
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-admin-service:latest ./admin-service
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-admin-service:latest

      - name: Build & Push content-management-service
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-content-service:latest ./content-management-service
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mbhoni-content-service:latest